$default-color: cyan;
$default-font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
$default-font-shadow: 0 0 2px gray;
$exhibition-border-bottom-style: solid 1px gray;