a {
  text-decoration: none;
  .buywrraper{
    height: 700px;
    background-image: image-url("pict/buy.jpg");
    background-size: cover;
    background-position:center;
    @include display-center();
    .buy__continer{
      height: 500x;
      width:700px;
      &__comp{
        padding: 20px 20px;
        font-size: 48px;
        color: tomato;
        text-shadow: 0 0 7px wheat;
        box-shadow: 0 0 7px wheat;
        font-weight: bold;
        font-family: sans-serif;
      }
    }
  }
}