.pcheader {
  height: 120px;
  min-width: 600px;
  padding: 0 64px;
  border-bottom: solid 0.1px cyan;
  .headerinner {
    margin: 0 auto;
    padding: 16px 0 0 ;
    .mainheader {
      position: relative;
      display: flex;
      align-items: center;
      .icon {
        padding-bottom: 8px;
        margin-right: 32px;
        border-radius: 4;
        background-color: green($color: #000000);
        a {
          width: 144px;
          display: block;
          .logo-img {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

.searchbox {
  margin-left: auto;
  width: 100%;
  form {
    width: 100%;
    margin-bottom: 4px;
    display: flex;
    label{
      display: none;
    }
    .input {
      width: calc(100% - 24px);
      height: 32px;
      padding: 0, 0, 4px;
    }
    button {
      width: 32px;
      border: 0;
      cursor: pointer;
      background-color: #3CCACE;
      padding: 8px;
      .search-img {
        width: 100%;
        vertical-align: bottom;
        }
    }
  }
}




.nav {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  line-height: 40px;
  .leftlist {
    width: 400px;
    display: flex;
    position: relative;
    @include default-text-style();
    &__category {
      margin: 0 16px;
      position: relative;
      cursor: pointer;
      z-index: 500;
      &:hover {
        background: white;
        display: block;
      }
      .categoryTree {
        z-index: 2;
        position: absolute;
        top: 40px;
        display: flex;
        background-color: white;
        flex-direction: column;
        position: relative;
        top: 13px;
        &__item {
          vertical-align: baseline;
          display:inline-block;
          border-bottom: 1px solid #dad7d7;
          a {
            background-image: url("#");
            text-decoration: none;
            padding-right: 32px;
            color: black;
          }
        }
      }
    }
    &__brand {
      float: right;
      z-index: 1000;
      padding: 0;
      position: relative;
      a {
        background-position: center right;
        background-image: url("#");
        text-decoration: none;
        color: black;
      }
    }
    &__index {
      margin-left: 15px;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
  .rightlist {
    width: 200px;
    margin-left: 20px;
    @include default-text-style();
    display: flex;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      line-height: 32px;
      color: black;
    }
    &__logout {
      margin-right: 16px;
      &__btn {
      }
      line-height: 40px;
      padding: 0, 0, 16px;
    }
    &__login {
      line-height: 40px;
      padding: 0, 0, 16px;
    }
    &__new {
      line-height: 40px;
      padding-left: 16px;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        line-height: 32px;
        color: black;
      }
    }
  }
}