.login-header {
  height:  128px;
  text-align: center;
  border-bottom: solid 1px $default-color;
  &__icon {
    display: inline-block;
    margin: 40px 0 0;
    img {
      width: 185px;
      height: 49px;
    }
  }
}

.login-main {
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  display: block;
  .login-panel {
    width: 456px;
    margin: 0 auto;
    .login-facebook {
      margin: 0;
      padding: 32px 64px;
      button {
        background: #385185;
        color: #fff;
        position: relative;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
      }
      button:focus {
        outline: none;
      }
    }
    .login-google {
      margin: 0;
      padding: 0 64px 32px 64px;
      button {
        background-color: #fff;
        position: relative;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .field {
    margin: 0;
    padding: 0 64px 0 64px;
    input {
      background-color: #fff;
      position: relative;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 18px;
      text-align: center;
      border-radius: 4px;
    }
    input:focus {
      outline: none;
    }
  }
  .actions {
    margin: 0;
    padding: 32px 64px 0 64px;
    input {
      background-color: red;
      position: relative;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 18px;
      text-align: center;
      border-radius: 4px;

    }
  }
  .no-acount {
    padding: 40px 64px;
    .acount-registration {
      margin: 0;
      
      a {
        width: 100%;
        background-color: #0099e8;
        position: relative;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 18px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid #0099e8;
        text-decoration: none;
        color: black;
        }
    }
    .password-forget {
      a {
        text-decoration: none;
      }
    }
  }
}

.login-footer {
  text-align: center;
  background-color: rgb(58, 58, 58);
  height: 230px;
  padding-top: 30px;
  &__panel {
    .contents {
      text-align: center;
      li {
        display: inline;
        font-size: 15px;
        margin: 0 16px;
        a {
          color: white;
          margin-top: 30px;
          font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
          text-decoration: none;
        }
      }
    }
    img {
      margin-top: 40px;
      width: 185px;
      height: 49px;
    }
  }
}