.main {
  height: 100%;
  width: 100vw;
  .firstview {
    width: 100%;
    height: 560px;
    padding: 0 60px;
    background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    &__box {
      font-family: $default-font-family;
      &__catch-copy {
        color: white;
        text-shadow: 0 0 4px black;
        font-size: 60px;
      }
      &__about {
        color: white;
        text-shadow: 0 0 4px black;
        font-size: 15px;
        p {
          margin: 0 0 2px 5px;
        }
      }
      &__items {
        height: 20px;
        width: 450px;
        display: flex;
        justify-content: space-between;
        &__left {
          @include top-page-a-btn();
        }
        &__right {
          @include top-page-g-btn();
        }
      }
    }
  }
  .work {
    &__title {
      width: 100%;
      height: 150px;
      background-color: white;
      @include display-center();
      text-shadow: 0 0 3px gray;
      flex-direction: column;
      strong {
        font-size: 25px;
        font-weight: bold;
      }
      p {
        border-bottom: solid 4px $default-color;
        width: 60px;
        box-shadow: 0 0 3px gray;
      }
    }
    &__box {
      display: flex;
      justify-content: center;
      &__inner {
        height: 500px;
        width: 320px;
        margin: 0 15px;
        &__image1 {
          @include work-box-inner-image();
          background-image: image-url("pict/pict-reason-01.jpg");
          &__number {
            @include work-box-inner-image-number();
            @include display-center();
          }
        }
        &__image2 {
          @include work-box-inner-image();
          background-image: image-url("pict/pict-reason-02.jpg");
          &__number {
            @include work-box-inner-image-number();
            @include display-center();
          }
        }
        &__image3 {
          @include work-box-inner-image();
          background-image: image-url("pict/pict-reason-03.jpg");
          &__number {
            @include work-box-inner-image-number();
            @include display-center();
          }
        }
        &__text {
          @include default-text-style();
          &__head {
            font-weight: bold;
            font-size: 17px;
            height: 50px;
            @include display-center();
            span {
              color: $default-color;
              margin: 0 7px;
            }
          }
          &__info {
            margin-top: 20px;
            width: 100%;
            font-family: $default-font-family;
          }
        }
      }
      &__inner2 {
        height: 550px;
        width: 250px;
        margin: 0 20px;
        &__image4 {
          @include work-box-inner-image2();
          background-image: image-url("icons/icon-01.png");
        }
        &__image5 {
          @include work-box-inner-image2();
          background-image: image-url(i"cons/icon-03.png");
        }
        &__image6 {
          @include work-box-inner-image2();
          background-image: image-url("icons/icon-04.png");
        }
        &__text {
          @include default-text-style();
          &__head {
            font-weight: bold;
            font-size: 17px;
            height: 50px;
            @include display-center();
            span {
              color: $default-color;
              margin: 0 7px;
            }
          }
          &__info {
            margin-top: 20px;
            height: 180px;
            width: 100%;
            font-family: $default-font-family;
          }
        }
      }
    }
  }
  .secondview {
    height: 400px;
    background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    &__box {
      margin-left: 50px;
      text-shadow: 0 0 5px grey;
      color: white;
      &__title {
        font-size: 30px;
      }
      &__about {
        font-size: 15px;
        margin-top: 20px;
      }
      &__items {
        display: flex;
        &__left {
          @include top-page-a-btn();
        }
        &__right {
          @include top-page-g-btn();
        }
      }
    }
  }
  .pickup {
    background-color: rgb(250, 250, 250);
    height: 600px;
    width: 100vw;
    &__title {
      @include default-text-style();
      @include display-center();
      &__in {
        margin-top: 70px;
        font-size: 25px;
        font-weight: bold;
        color: black;
        text-align: center;
      }
      p {
        font-size: 20px;
        color: $default-color;
        margin-bottom: 35px;
      }
    }
    &__item {
      height: 400px;
      width: 100%;
      display: flex;
      justify-content: center;
      a {
        height: 100%;
        text-decoration: none;
        margin: 0 10px;
        width: 350px;
        .pickup__item__image {
          @include work-box-inner-image3();
          background-image: image-url("items/item1");
        }
        .pickup__item__image2 {
          @include work-box-inner-image3();
          background-image: image-url("items/item2");
        }
        .pickup__item__image3 {
          @include work-box-inner-image3();
          background-image: image-url("items/item3");
        }
        .pickup__item__info {
          height: 100px;
          width: 100%;
          color: black;
          padding: 5px 5px;
          &__name {
            padding: 0 20px;
          }
          &__price {
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
          }
          &__tax {
            padding: 0 20px;
            font-size: 13px;
          }
        }
      }
    }
  }
} 
.exhibition-btn {
  height: 120px;
  width: 120px;
  background-color: $default-color;
  position: fixed;
  right: 30px;
  bottom: 40px;
  font-weight: bold;
  border-radius: 30px;
  a {
    @include display-center();
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    .exhibition-btn--link {
      @include display-center();
      flex-direction: column;
      p {
        font-size: 15px;
      }
      i {
        font-size: 50px;
      }

    }
  }
}