
.login-registration {
  background-color: rgb(199, 242, 255); 
  width: 620px; 
  margin: 30px auto;
  border-radius: 10px;
  padding-right: 20px;
  &__index {
    font-size:30px;
    color: black;
    padding: 40px ;
    text-align:center;
    @include default-text-style();
  }
  &__label {
    display: inline-block;
    font-weight: 800;
    margin: 60px 0 10px 0;
  }
  &__form {
    padding: 40px;
    border-bottom: 2px solid #f5f5f5;
    margin: 0 auto;
    &__content{
      padding: 0 20px;
      width: 540px;
      margin: 0 auto;
      border-radius: 10px;
      background-color: rgb(199, 242, 255);
      .user-submit {
        margin-top: 40px;
        &__btn {
          @include input-border-style;
          @include default-text-style();
          margin-bottom: 40px;
          border: solid 1px white;
          background-color: tomato;
          font-weight: bold;
          height: 40px;
          width: 100%;
          cursor: pointer;
        }
      }
    }
    .form-group{
      width: 100%;
      &__sex {
        display: flex;
        &__men {
          margin-right: 20px;
        }
      }
      .format-input-half{
       margin-top: 10px;
       width: 50%;
       height: 35px;
       background-color: #fff;
       border: 1px solid #dddddd;
      }
      .format-input{
        width: 310px;
        height: 22px;
        padding: 10px 0 10px 8px;
        @include input-border-style;
        font-size: 16px;
        border-radius: 8px;
      }
      .form-group-double{
        display: flex;
        .format-input-half{
          @include input-border-style;
          width: 50%;
          height: 30px;
          margin-right: 20px;
          border-radius: 4px;
          line-height: 1.5;
          font-size: 16px;
        }    
      }
      .actions {
        margin-top: 40px;
        &__create {
          @include input-border-style;
          @include default-text-style();
          border: solid 1px white;
          background-color: tomato;
          font-weight: bold;
          height: 40px;
          width: 100%;
          cursor: pointer;
        }
        &__next {
          @include input-border-style;
          @include default-text-style();
          border: solid 1px white;
          background-color: tomato;
          font-weight: bold;
          height: 40px;
          width: 100%;
          cursor: pointer;
        }
        &__login {
          @include input-border-style;
          border: solid 1px white;
          width: 100%;
          height: 35px;
          margin-top: 10px;
          background-color: wheat;
          a {
            @include display-center();
            order: solid 1px white;
            color: black;
            height: 100%;
            width: 100%;
            text-decoration: none;
          }
        }
      }
    }
    .userloginform-into__sub-head{
      font-size: 18px;
      margin: 50px 0 8px 0;
     &__text{
     border: dashed 1px black;
      padding: 5px 5px;
      margin: 20px 0 8px 0;
      line-height: 22px;
      width: 100%;
      p {
        @include default-text-style();
        font-size: 12px;
        color: black;
      }
     }
    }
    .userloginform-into{
      line-height: 22px;
      color: black;
      display: block;
      margin: 10px 0 10px 0;
      padding: 10px 10px;
      font-size: 12px;
      text-align: center;
      border: dashed 1px black;
    }
    &--must {
      color: #fff;
      background-color: red;
      margin-left: 8px;
      padding: 2px 4px;
      border-radius: 3px;
    }
    &--option {
      color: #fff;
      background-color: grey;
      margin-left: 8px;
      padding: 2px 4px;
      border-radius: 3px;
    }
  }
}