.exhibition-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  .exhibition-input {
    padding: 20px 25px;
    width: 600px;
    border: solid 2px $default-color;
    border-radius: 10px;
    background-color: rgb(199, 242, 255);
    .new_product, .edit_product {
      .exhibition-input__image, #image-box{
        height: 250px;
        .previews {
          display: flex;
          border-radius: 5px;
          height: 100px;
          &__image {
            margin-right: 10px;
            border-radius: 5px;
          }
        }
        &__text {
          display: flex;
          align-items: center;
          strong {
            font-size: 15px;
            font-weight: bold;
          }
          p {
            @include Hissu-style();
          }
        }
        .input-btn {
          display: flex;
          .image-label, .edit-image-label{
            #btn-5 {
              display: none;
            }
            .js-file_group, .edit-js-file_group {
              .js-file, .edit-js-file {
                display: none;
              }
              .icon {
                height: 60x;
                width: 98px;
                margin: 15px 10px 0 0;
                background-color: white;
                border-radius: 10px;
                border: dashed 1px $default-color;
                font-size: 30px;
                cursor: pointer;
                @include display-center();
              }
            }
          }
          .input-add {
            height: 30px;
            width: 90px;
            margin-top: 15px;
            background-color: white;
            border-radius: 10px;
            border: dashed 1px $default-color;
            text-shadow: 0 0 1.2px gray;
            cursor: pointer;
            @include display-center();
          }
        }
      }
      .exhibition-input__name-detail {
        height: 400px;
        border-bottom: $exhibition-border-bottom-style;
        &__text {
          display: flex;
          align-items: center;
          border-top: $exhibition-border-bottom-style;
          strong {
            font-size: 15px;
            font-weight: bold;
          }
          p {
            @include Hissu-style();
          }
        }
        &__name {
          width: 100%;
          margin-bottom: 50px;
          @include input-border-style();
        }
        &__detail {
          height: 150px;
          width: 100%;
          @include input-border-style();
        }
      }
      .exhibition-input__info {
        height: 500px;
        border-bottom: $exhibition-border-bottom-style;
        display: flex;
        flex-direction: column;
        &__title {
          font-size: 18px;
          font-weight: bold;
          text-shadow: 0 0 4px gray;
          margin: 20px 0;
        }
        &__text {
          display: flex;
          align-items: center;
          strong {
            font-weight: bold;
          }
          p {
            @include Hissu-style();
          }
          span {
            @include Hissu-style();
            background-color: gray;
          }
        }
        #product_item_status {
          @include input-border-style();
          height: 25px;
        }
        .listing-form-box {
          height: 200px;
          .listing-product-detail__category {
            &__box {
              display: flex;
              align-items: center;
              margin-bottom: 15px;
              .listing-default__label {
                font-weight: bold;
                margin-right: 10px;
              }
              .listing-default--require {
                height: 20px;
                width: 45px;
                background-color: red;
                border-radius: 5px;
                color: white;
                line-height: 12px;
                font-size: 12px;
                @include display-center();
              }
            }
          }
        }
      }
      .exhibition-input__delivery {
        height: 600px;
        border-bottom: $exhibition-border-bottom-style;
        display: flex;
        flex-direction: column;
        &__title {
          font-size: 18px;
          font-weight: bold;
          text-shadow: 0 0 4px gray;
          margin: 20px 0;
          margin: 20px 0;
        }
        &__text {
          display: flex;
          align-items: center;
          strong {
            font-weight: bold;
          }
          p {
            @include Hissu-style();
          }
        }
        #product_ship_method {
          @include select-style();
        }
        #product_postage_cost {
          @include select-style();
        }
        #product_ship_area {
          @include select-style();
        }
        #product_ship_date {
          @include select-style();
        }
      }
      .exhibition-input__price {
        height: 170px;
        border-bottom: $exhibition-border-bottom-style;
        &__text {
          display: flex;
          align-items: center;
          strong {
            font-weight: bold;
          }
          p {
            @include Hissu-style();
          }
        }
        #product_price {
          @include select-style();
        }
        i {
          font-size: 12px;
        }
      }
      .exhibition-input__last {
        height: 300px;
        padding: 0 20px;
        &__submit {
          width: 100%;
          height: 40px;
          margin: 20px 0;
          background-color: tomato;
          font-weight: bold;
          border-radius: 10px;
          border: solid 1px tomato;
          cursor: pointer;
        }
        &__return {
          width: 100%;
          height: 36px;
          margin-bottom: 20px;
          background-color: white;
          font-weight: bold;
          @include display-center();
          @include input-border-style();
        }
        a {
          text-decoration: none;
          color: black;
        }
        &__note {
          height: 80px;
          padding: 10px 10px;
          font-size: 14px;
          background-color: white;
          border: dashed 1px red;
          color: red;
          text-shadow: 0 0 1px red;
        }
      }
    }
  }
}

.listing-select-wrapper__box--select {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
  @include input-border-style();
}

.images {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.p0 {
  display: none;
}

.remove-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 1px rgb(199, 242, 255);
  background-color: white;
  margin: 2px 0;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: rgb(69, 69, 69);
}