.wrapper{
  background-color: #f8f8f8;
  .topContents{
    padding: 40px;
    .contents{
      margin: 0 auto;
      background-color:white;
      width:700px;
      padding:24px 40px 0px;
      .itembox{
        &__name{
          font-size: 24px;
          font-weight: bold;
          text-align: center;
        }
        .button_box{
          display: flex;
          justify-content:flex-end;
          a{
            text-decoration: none;
            color:#333;
            padding-left: 8px;
          }
        }
        &__imagebox{
          margin: 16px 0 0;
          .imagebig{
            position: relative;
            align-items: center;
            img{
              object-fit: cover;
              height: 346px;
              width: 100%;
            }
            .imagesmale{
              display: flex;
              justify-content: center;
              margin: 0 auto;
              margin-top: 10px;
              img{
                height: 87px;
                width: 100%;
              }
            }
          }
        }
        .itembox__price{
          text-align: center;
          margin: 24px 0 24px;
          .plice{
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          &__price-ditail{
            font-size: 16px;
          }
        }
      }
      .itembox__Dtail{
        font-size: 18px;
        margin-bottom: 30px;
        margin-top: 10px;
      }
      .itemtable{
        margin-bottom: 20px;
        table{
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
          tr{
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            th{
              width: 20%;
              background-color: #eee;
              font-weight: 400;
              padding: 8px;
              border: 1px solid #dedede;
              font-size: 14px;
              text-align:center;
            }
            td{
              width: 61%;
              padding: 15px 15px;
              border: 1px solid #dedede;
              font-size: 14px;
              font-weight: 400;
            }
            a{
              text-decoration: none;
              color: #3ccace;
              font-weight: 400;
            }
          }
        }
      }
      .optionArea{
        display: flex;
        justify-content: space-between;
        ul{
          margin: 10px 0 0;
          display: flex;
          .okini{
            margin-right: auto;
            border-radius: 40px;
            border: 1px solid #ffb340;
            padding: 6px 10px;
            a{
              text-decoration: none;
              color: #3CCACE;
            }
          }
          .hata{
            font-size: 14px;
            border:1px solid lightslategrey;
            padding: 6px 10px;
            display: inline-block;
            border-radius: 4px;
            border: 1px solid #333;
            a{
              text-decoration: none;
              color:#333;
            }
          }
        }
      }
      .item-coments{
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        form{
          margin: 0;
          padding: 0;
          textarea{
            width: 100%;
            height: 104px;
            padding: 10px;
          }
          p{
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
          .commentBtn{
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
          }
        }
      }
    }  
  }
  .topform{
    height: 100px;
    margin: 20px 320px;
    display: flex;
    justify-content: space-between;
    a{
      font-size: 16px;
      text-decoration: none;
      color: #3CCACE;
    }
  }
  .relatedItem{
    margin-left:560px;
    font-size: 24px;
    font-weight: bold;
    
    a{
      text-decoration: none;
      color: #3CCACE;         
    }
  }
}
    
