= render 'posts/header'

.c-p
  .c-page
    .side_bar

    .cp
      .cp-pay
        支払い方法
      .cp-info
        .cp-chapter
          クレジットカード一覧
        .cp-payment-tag
          .cp-payment-tag-v
            = image_tag( "logo/visa.png",height:"100%", width:"45px")
          .cp-payment-num ************4242
          .cp-payment-num 12 / 20
          %input{name: "method", type: "hidden", value: "card"}/
          %button.cp-payment-remove{type: "submit"}
            削除する


