.main
  .firstview
    .firstview__box
      .firstview__box__catch-copy 人生を変えるフリマアプリ
      .firstview__box__about 
        %p FURIMAはだれでもかんたんに出品・購入できる
        %p フリマアプリです
      .firstview__box__items
        = link_to root_path do
          .firstview__box__items__left
        = link_to root_path do
          .firstview__box__items__right
  .work
    .work__title 
      %strong FURIMAが選ばれる3つの理由
      %p
    .work__box
      .work__box__inner
        .work__box__inner__image1
          .work__box__inner__image1__number 1
        .work__box__inner__text
          .work__box__inner__text__head
            %span 3分 
            ですぐに出品
          .work__box__inner__text__info
            %p スマホで入力するだけで簡単に出品できる！
      .work__box__inner
        .work__box__inner__image2
          .work__box__inner__image2__number 2
        .work__box__inner__text
          .work__box__inner__text__head
            %span シンプル 
            で使いやすい
          .work__box__inner__text__info
            %p めんどくさい入力は必要なく、検索も購入もスムーズ！
      .work__box__inner
        .work__box__inner__image3
          .work__box__inner__image3__number 3
        .work__box__inner__text 
          .work__box__inner__text__head
            手数料
            %span 業界最安
          .work__box__inner__text__info
            %p 最大3%でお得に出品＆購入！ 