.wrapper {
  height: 700px;
  display: flex;
  background-color: cadetblue;
  .side {
    height: calc(100% - 120px);
    width: 350px;
    background-color: rgb(199, 242, 255);
    padding: 60px 50px;
    .icon {
      color: $default-color;
    }
    a {
      @include default-text-style();
      color: black;
      text-decoration: none;
      line-height: 60px;
      font-size: 18px;
    }
  }
  .main{
    height: 100%;
    width: 100%;
    @include display-center();
    &__profile {
      font-size: 70px;
      @include default-text-style();
    }
  }
}