// Place all the styles related to the myuser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  .header{
    height: 100px;
    width: 100vw;
    background-color: skyblue;
    overflow: hidden;
  }
  .wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    
    .side{
      height:calc(100vh - 100px);
      width: 280px;
      background-color: ghostwhite;
      ul{
        list-style: none;
        font-size: 16px;
        color: rgb(173, 172, 172);
        padding-left: 0;
        margin-top: 0;
        li{
          list-style: none;
          position: relative;
          padding: 14px 14px 14px 30px;
          height: 60px;
          border: 1px solid lightgray;
          margin: 0 auto;
          line-height: 60px;
          i{
            position: absolute;
            right: 30px;
            top:32px;
            font-size: 24px;
            color: skyblue;


          }
        }
      }
    }
    .main{
      height:calc(100vh - 100px) ;
      width: 700px;
      background-color: ghostwhite;
      .plofile{
        padding: 20px;
        height: 500px;
        background-color:rgba(221, 220, 220, 0.48);
        background-image: url("/c45e6d8e0587e26ea83ae5b9037e46c96_4620693218539207164_190818_0051.jpg");
        background-size: cover;
        position: relative;
        img{
          border-radius: 50%;
          position: absolute;
          bottom: 210px;
          left: 290px;
        }
        p{
          font-size: 22px;
          text-align: center;
          position: absolute;
          bottom: 25%;
          left: 320px;
        }
      }
      .content{
        padding-top: 50px;
        padding-bottom: 50px;
        ul{
          font-size: 16px;
          li{
            list-style: none;
            a{
              color: rgb(0,0,0);
              font-weight: bold;
              
              text-decoration: none;
            }
          }
          input{
            color:white;
            background-color:skyblue;
            border: skyblue 1px solid ;
            border-radius: 60%;
            height: 30px;
            width: 80px;
            float: right;
            
          }
          input:focus {
            outline: none;
          }
          input:hover{
            cursor: pointer;

          }
        }
      }
    }
  }
  .footer{
    
    height: 500px;
    width: 100vw;
    background-color: lightslategray;
  }
}
