= render 'users/header'

.contents-row
  .success-update
    %h3
      ありがとうございます。
      編集は無事完了しました
    .update-btn
    = link_to "戻る", root_path, class: 'btn btn-default'
.content-foot
= render 'users/footer'